<% include partials/header %>

<div class="container mb-5">
    <div id="success-div" class="card mt-5">
        <div class="bg-primary p-2">
            <h3><%= guest.property %></h3>
        </div>
        <div class="bg-light text-dark">
            <div class="m-5 text-left">
                <h2 class="text-success">ACTIVE GUEST PARKING PERMIT</h2>
                <div class="row">
                    <div class=col-md-4>
                        <p>Vehicle/Tag Number <br><i class="fas fa-car fa-2x mt-2"></i><strong class="mt-2"> <%= guest.tag %></strong></p>
                    </div>
                    <div class=col-md-4>
                        <p>Apartment <br><i class="fas fa-home fa-2x mt-2"></i><strong class="mt-2"> <%= guest.unit %></strong></p>
                    </div>
                    <div class=col-md-4>
                        <p>Permit # <br><i class="fas fa-receipt fa-2x mt-2"></i><strong class="mt-2"> <%= guest.permit %></strong></p>
                    </div>
                </div>
                <hr>
                <div class="row mt-5">
                    <div class="col-md-2 col-sm-3 col-2 px-0">
                        <i class="fas fa-check-circle fa-3x ml-3"></i>
                    </div>
                    <div class="col-md-10 col-sm-9 col-10 px-0">
                        <p class="ml-3"><strong>Time Started: </strong><%= guest.startDate %></p>
                        <p class="text-muted"><span class="ml-4"><i class="far fa-clock"></i> <%= guest.startTime %></span></p>
                        <hr id="hr-success">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-2 px-0">
                        <i class="fas fa-times-circle fa-3x ml-3"></i>
                    </div>
                    <div class="col-md-10 col-sm-9 col-10 px-0">
                        <p class="ml-3"><strong>Ending Time: </strong><%= guest.endDate %></p>
                        <p class="text-muted"><span class="ml-4"><i class="far fa-clock"></i> <%= guest.endTime %></span></p>
                        <hr id="hr-success">
                    </div>
                </div>
                <div class="text-center">
                    <h3>EXTEND PARKING REGISTRATION</h3>
                    <form action="/parking/:id/extend/<%= guest._id %>" method="POST">
                        <p class="mt-3 text-left"><strong>Length of Stay: (14 days max)</strong></p>
                        <input class="form-control" type="datetime-local" name="extendedTime">
                        <button class="form-control btn btn-lg btn-success mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>